footer {
    position: relative;
    background-color: #774C21;
    color: #fff;
    padding: 2rem 0;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;

    @media (max-width: 768px) {
        margin-top: 4rem;
    }

    p {
        font-size: 1.1rem;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.04em;
        margin: 0 5rem;
        color: #f8f8f8;
    }
}