nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3.5rem;

    @media (max-width: 1200px) {
        padding: 0 2rem;
    }
}
    
.nav__logo {
    &-img {
        height: 180px;
        width: auto;
    }
}
  
.nav__list {
    ul {
        display: flex;
        align-items: center;
        list-style: none;
        gap: 3rem;
        padding: 0 0.3rem;

        @media (max-width: 1200px) {
            gap: clamp(1rem, 3vw, 2.5rem);
        }

        li {
            position: relative;
            
            a {
                color: #000;
                font-weight: 500;
                font-size: clamp(0.9rem, 1.5vw, 1.1rem);
                padding-bottom: 0.4rem;
                transition: color 0.3s ease;
                position: relative;
                
                // Animation ligne
                &::after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 0;
                    height: 2px;
                    background-color: #774C21;
                    transition: width 0.3s ease;
                }
            
                &:hover {
                    color: #774C21;
                    
                    &::after {
                        width: 100%;
                    }
                }
            }
        }
    }

    @media (max-width: 768px) {
        display: none;
    }

}

.nav__item-dropdown {
    position: relative;

    .nav__dropdown-toggle {
        display: flex;
        align-items: center;
        cursor: pointer;
        color: #000;
        font-weight: 500;
        font-size: clamp(0.9rem, 1.5vw, 1.1rem);
        transition: color 0.3s ease;

        &:hover {
            color: #774C21;
        }

        svg {
            width: 1.5rem;
            height: 1.5rem;
        }
    }

    .nav__dropdown-arrow {
        margin-left: .2rem;
        margin-top: .1rem;
        font-size: 0.7em;
        transition: transform 0.3s ease;
      }

    .nav__dropdown-menu {
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #FBFBF8;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        padding: 1rem 1.5rem;
        border-radius: 0.7rem;
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.3s ease-in-out;
        z-index: 100;
        min-width: 100%;
        
        li {
            white-space: nowrap;
            width: 100%;
        }
    }
    
    .nav__dropdown-toggle:hover + .nav__dropdown-menu,
    .nav__dropdown-menu:hover {
        visibility: visible;
        opacity: 1;
    }
}

.nav__socials {

    @media (max-width: 830px) {
        display: none;
    }
}